@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

html {
    scroll-behavior: smooth;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:skyblue;
    
}

.nav-container{
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111527;
    position:sticky;
    top: 0;
}

.nav-container h1{
    color: #ffffff;
    font-family: helvetica;
    font-style: italic;
    font-weight: bold;
}


/* list item anchor links */
.navbar ul a{
    color: white;
    font-family: helvetica;
    font-style: italic;
    font-style: bold;
    font-size: large;
    text-decoration: none;
}

.navbar ul a:hover{
   color: skyblue;
    transition: all 0.3s ease 0s;
}

/* login signup anchor link */
.nav-container a{
    color: white;
}

#login{
    font-weight: bold;
    font-size: thin;
    font-style: italic;
    font-family: helvetica;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /* position: fixed; */
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.navbar{
    /* border: 1px solid yellow; */
}


.nav-content{
    
    /* border: 2px solid green; */
    
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;

}




.item{
    /* border: 1px solid green; */

}


/* ------------------------------------------------------------------------ 
*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
}



.interface{
    width: 80%;
    min-height: 75%;
    height: 40em;
    background-color: rgb(84, 81, 99);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about{
    width: 80%;
    min-height: 75%;
    height: 40em;
    background-color: rgb(43, 43, 46);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contests{
    width: 80%;
    min-height: 75%;
    height: 40em;
    background-color: rgb(64, 63, 64);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faqs{

    width: 80%;
    min-height: 75%;
    height: 40em;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 80%;
    min-height: 75%;
    height: 40em;
    background-color: rgb(67, 67, 69);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



.saperator {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 50%;
}

.footer {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Helvetica";
    
    width: 100%;
    height: 100px;
    background-color: transparent;
    
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.footer a{
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    font-weight:lighter;
}
